html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: rgb(131, 108, 55);
    min-height: 1700px;
}

h1{
    display: block;
    position:absolute;
    /* border:3px solid black; */
    color: rgb(255, 249, 212);
    font-family: "alfarn-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: 5px auto 10px auto;
    
}

h2{
    position:absolute;
    /* border:3px solid black; */
    color: rgb(255, 249, 212);
    font-family: "reross-rectangular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 57px;
    text-align: center;
    margin: 80px auto 40px auto;
    top:10%;
    left: 4%;
}

#intro1 {
    display:block;
    /* border: 3px solid rgb(70, 105, 105); */
    font-family: "reross-rectangular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color:rgb(255, 249, 212);
    position: sticky;
    line-height: 1.6;
    width: 95%;
    top:30px;
    /* left: auto; */
    text-align: center;
}

#intro1:hover {
    color:black;
}

#intro2 {
    /* display:block; */
    /* border: 3px solid rgb(70, 105, 105); */
    font-family: "reross-rectangular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color:rgb(255, 249, 212);
    position: sticky;
    position:-webkit-sticky;
    line-height: 1.6;
    width: 95%;
    top:220px;
    /* left: auto; */
    text-align: center;
    align-items: start;
}

#intro2:hover {
    color:black;
}

a{
    text-decoration: none;
    color:rgb(255, 249, 212);
    
}

#name {
    color: rgb(255, 249, 212);
}

a.top{
    font-family: "alfarn-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color:rgb(131, 108, 55);
    /* display: block; */
    /* border: 3px solid rgb(70, 105, 105); */
    width: 8%;
    height: 40px;
    margin: auto;
    background-color: rgb(177, 226, 226);
    border-radius: 30px;
    text-align: center;
    padding-top: 7px;
    
}

a.top:hover {
    box-shadow: 0 0 4px 3px rgb(255, 251, 240);
}

div.top{
    /* border: 3px solid rgb(70, 105, 105); */
    display: flex;
    flex-wrap: wrap;
    /* position:sticky;
    top: 0px; */
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top:5%;
    
    padding-bottom: 5px;
}

.container {
    /* border:3px solid black; */
    height: 1000px;
    /* display: block; */
    position:relative;
    padding-bottom: 20px;
}

img {
    position: absolute;
    float: left; 
    margin: 0px 15px 15px 0px;
    margin-bottom: 20px;
}



#one {
    width:370px;
    top: 29%;
    left: 4%;
}

#two {
    width:370px;
    top: 29%;
    left: 31%;
}

#three {
    width:370px;
    left: 31%;
    top: 87%;
}

#four {
    width:370px;
    left: 4%;
    top: 68%;
}

.sticky {
    /* border: 3px solid black; */
    display: block;
    height:1200px;
    width: 400px;
    position: absolute;
    top: 27%;
    left: 65%;
}